body{
    width: 100%;
    margin: 0%;
    padding: 0%
}
.header, .footer{
    height: 150px;
    width: 100%;
    background: red
}
.container{
    display: flex;
    height: 400px;
}
.middle{
    flex: 1;
    background: yellow
}
.left{
    width: 300px;
    background: green
}
.right{
    width: 300px;
    background: blue
}